html,
body {
  height: 100%;
  background-color: #000;
  overflow: hidden;
}
.g-candle {
  position: absolute;
  width: 400px;
  height: 400px;
}
.g-candle .g-body {
  position: relative;
  width: 100px;
  height: 300px;
  margin: 280px auto;
  background: linear-gradient(230deg, #ca9800, #573903, #000 70%);
  z-index: 1;
}
.g-candle .g-body:before {
  position: absolute;
  content: '';
  width: 100px;
  height: 40px;
  border-radius: 50%;
  top: -20px;
  background: radial-gradient(#a46800, #5c2104 45%, #905602 100%);
}
.g-candle .g-body:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 48px;
  left: 50%;
  top: -22px;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 60%, #fff);
  opacity: 0.7;
  filter: blur(1px);
}
.g-candle .g-fire-box {
  position: absolute;
  top: 97px;
  left: 50%;
  width: 80px;
  height: 200px;
  transform: translate(-50%, -50%);
  filter: blur(2px) contrast(10);
}
.g-candle .g-fire-box .g-fire {
  position: absolute;
  top: 30px;
  left: 50%;
  border-radius: 45%;
  border: 120px solid #000;
  border-bottom-color: transparent;
  transform: translate(-50%, 0) scaleX(0.45);
  background-color: #761b00;
}
.g-candle .g-fire-box .g-fire .g-ball {
  position: absolute;
  top: 60px;
  background-color: #fa8763;
  border-radius: 50%;
  z-index: -1;
  mix-blend-mode: screen;
}
.g-ball:nth-child(1) {
  width: 14px;
  height: 14px;
  left: -35px;
  animation: movetop 1s linear -1.342s infinite;
}
.g-ball:nth-child(2) {
  width: 19px;
  height: 19px;
  left: 1px;
  animation: movetop 1s linear -0.451s infinite;
}
.g-ball:nth-child(3) {
  width: 49px;
  height: 49px;
  left: 0px;
  animation: movetop 1s linear -0.422s infinite;
}
.g-ball:nth-child(4) {
  width: 33px;
  height: 33px;
  left: -6px;
  animation: movetop 1s linear -1.55s infinite;
}
.g-ball:nth-child(5) {
  width: 42px;
  height: 42px;
  left: -30px;
  animation: movetop 1s linear -1.915s infinite;
}
.g-ball:nth-child(6) {
  width: 4px;
  height: 4px;
  left: -14px;
  animation: movetop 1s linear -0.594s infinite;
}
.g-ball:nth-child(7) {
  width: 46px;
  height: 46px;
  left: -9px;
  animation: movetop 1s linear -1.608s infinite;
}
.g-ball:nth-child(8) {
  width: 30px;
  height: 30px;
  left: 14px;
  animation: movetop 1s linear -2.859s infinite;
}
.g-ball:nth-child(9) {
  width: 48px;
  height: 48px;
  left: -29px;
  animation: movetop 1s linear -0.097s infinite;
}
.g-ball:nth-child(10) {
  width: 16px;
  height: 16px;
  left: 7px;
  animation: movetop 1s linear -0.716s infinite;
}
.g-ball:nth-child(11) {
  width: 12px;
  height: 12px;
  left: 6px;
  animation: movetop 1s linear -0.206s infinite;
}
.g-ball:nth-child(12) {
  width: 20px;
  height: 20px;
  left: 5px;
  animation: movetop 1s linear -0.697s infinite;
}
.g-ball:nth-child(13) {
  width: 19px;
  height: 19px;
  left: 20px;
  animation: movetop 1s linear -2.193s infinite;
}
.g-ball:nth-child(14) {
  width: 38px;
  height: 38px;
  left: -35px;
  animation: movetop 1s linear -1.132s infinite;
}
.g-ball:nth-child(15) {
  width: 19px;
  height: 19px;
  left: -3px;
  animation: movetop 1s linear -0.211s infinite;
}
.g-ball:nth-child(16) {
  width: 46px;
  height: 46px;
  left: -6px;
  animation: movetop 1s linear -2.61s infinite;
}
.g-ball:nth-child(17) {
  width: 29px;
  height: 29px;
  left: -18px;
  animation: movetop 1s linear -0.443s infinite;
}
.g-ball:nth-child(18) {
  width: 3px;
  height: 3px;
  left: -1px;
  animation: movetop 1s linear -0.945s infinite;
}
.g-ball:nth-child(19) {
  width: 17px;
  height: 17px;
  left: -28px;
  animation: movetop 1s linear -1.092s infinite;
}
.g-ball:nth-child(20) {
  width: 38px;
  height: 38px;
  left: -30px;
  animation: movetop 1s linear -2.208s infinite;
}
.g-ball:nth-child(21) {
  width: 2px;
  height: 2px;
  left: -11px;
  animation: movetop 1s linear -2.973s infinite;
}
.g-ball:nth-child(22) {
  width: 19px;
  height: 19px;
  left: -24px;
  animation: movetop 1s linear -0.422s infinite;
}
.g-ball:nth-child(23) {
  width: 30px;
  height: 30px;
  left: -1px;
  animation: movetop 1s linear -2.6s infinite;
}
.g-ball:nth-child(24) {
  width: 28px;
  height: 28px;
  left: -28px;
  animation: movetop 1s linear -0.157s infinite;
}
.g-ball:nth-child(25) {
  width: 19px;
  height: 19px;
  left: 11px;
  animation: movetop 1s linear -2.129s infinite;
}
.g-ball:nth-child(26) {
  width: 50px;
  height: 50px;
  left: 20px;
  animation: movetop 1s linear -2.724s infinite;
}
.g-ball:nth-child(27) {
  width: 4px;
  height: 4px;
  left: -38px;
  animation: movetop 1s linear -2.022s infinite;
}
.g-ball:nth-child(28) {
  width: 24px;
  height: 24px;
  left: -19px;
  animation: movetop 1s linear -2.261s infinite;
}
.g-ball:nth-child(29) {
  width: 7px;
  height: 7px;
  left: 9px;
  animation: movetop 1s linear -1.984s infinite;
}
.g-ball:nth-child(30) {
  width: 40px;
  height: 40px;
  left: -15px;
  animation: movetop 1s linear -1.676s infinite;
}
.g-ball:nth-child(31) {
  width: 22px;
  height: 22px;
  left: -30px;
  animation: movetop 1s linear -1.828s infinite;
}
.g-ball:nth-child(32) {
  width: 37px;
  height: 37px;
  left: 19px;
  animation: movetop 1s linear -1.529s infinite;
}
.g-ball:nth-child(33) {
  width: 14px;
  height: 14px;
  left: -30px;
  animation: movetop 1s linear -1.674s infinite;
}
.g-ball:nth-child(34) {
  width: 48px;
  height: 48px;
  left: -34px;
  animation: movetop 1s linear -1.64s infinite;
}
.g-ball:nth-child(35) {
  width: 50px;
  height: 50px;
  left: -29px;
  animation: movetop 1s linear -2.044s infinite;
}
.g-ball:nth-child(36) {
  width: 5px;
  height: 5px;
  left: 17px;
  animation: movetop 1s linear -1.525s infinite;
}
.g-ball:nth-child(37) {
  width: 19px;
  height: 19px;
  left: -21px;
  animation: movetop 1s linear -2.263s infinite;
}
.g-ball:nth-child(38) {
  width: 12px;
  height: 12px;
  left: -46px;
  animation: movetop 1s linear -1.248s infinite;
}
.g-ball:nth-child(39) {
  width: 9px;
  height: 9px;
  left: -11px;
  animation: movetop 1s linear -2.467s infinite;
}
.g-ball:nth-child(40) {
  width: 6px;
  height: 6px;
  left: -38px;
  animation: movetop 1s linear -1.299s infinite;
}
.g-ball:nth-child(41) {
  width: 18px;
  height: 18px;
  left: -45px;
  animation: movetop 1s linear -2.018s infinite;
}
.g-ball:nth-child(42) {
  width: 25px;
  height: 25px;
  left: 12px;
  animation: movetop 1s linear -0.114s infinite;
}
.g-ball:nth-child(43) {
  width: 6px;
  height: 6px;
  left: -5px;
  animation: movetop 1s linear -1.461s infinite;
}
.g-ball:nth-child(44) {
  width: 40px;
  height: 40px;
  left: 13px;
  animation: movetop 1s linear -2.714s infinite;
}
.g-ball:nth-child(45) {
  width: 39px;
  height: 39px;
  left: 9px;
  animation: movetop 1s linear -0.72s infinite;
}
.g-ball:nth-child(46) {
  width: 43px;
  height: 43px;
  left: -7px;
  animation: movetop 1s linear -1.929s infinite;
}
.g-ball:nth-child(47) {
  width: 50px;
  height: 50px;
  left: 9px;
  animation: movetop 1s linear -0.491s infinite;
}
.g-ball:nth-child(48) {
  width: 31px;
  height: 31px;
  left: -12px;
  animation: movetop 1s linear -1.284s infinite;
}
.g-ball:nth-child(49) {
  width: 31px;
  height: 31px;
  left: -30px;
  animation: movetop 1s linear -1.741s infinite;
}
.g-ball:nth-child(50) {
  width: 36px;
  height: 36px;
  left: -18px;
  animation: movetop 1s linear -1.726s infinite;
}
.g-ball:nth-child(51) {
  width: 44px;
  height: 44px;
  left: -7px;
  animation: movetop 1s linear -0.767s infinite;
}
.g-ball:nth-child(52) {
  width: 4px;
  height: 4px;
  left: 16px;
  animation: movetop 1s linear -0.289s infinite;
}
.g-ball:nth-child(53) {
  width: 31px;
  height: 31px;
  left: -45px;
  animation: movetop 1s linear -0.793s infinite;
}
.g-ball:nth-child(54) {
  width: 40px;
  height: 40px;
  left: 7px;
  animation: movetop 1s linear -1.093s infinite;
}
.g-ball:nth-child(55) {
  width: 7px;
  height: 7px;
  left: -14px;
  animation: movetop 1s linear -0.154s infinite;
}
.g-ball:nth-child(56) {
  width: 37px;
  height: 37px;
  left: -47px;
  animation: movetop 1s linear -1.242s infinite;
}
.g-ball:nth-child(57) {
  width: 35px;
  height: 35px;
  left: -16px;
  animation: movetop 1s linear -2.12s infinite;
}
.g-ball:nth-child(58) {
  width: 8px;
  height: 8px;
  left: 18px;
  animation: movetop 1s linear -0.49s infinite;
}
.g-ball:nth-child(59) {
  width: 26px;
  height: 26px;
  left: -43px;
  animation: movetop 1s linear -0.391s infinite;
}
.g-ball:nth-child(60) {
  width: 40px;
  height: 40px;
  left: -33px;
  animation: movetop 1s linear -2.657s infinite;
}
.g-ball:nth-child(61) {
  width: 39px;
  height: 39px;
  left: -49px;
  animation: movetop 1s linear -2.861s infinite;
}
.g-ball:nth-child(62) {
  width: 0px;
  height: 0px;
  left: 9px;
  animation: movetop 1s linear -2.421s infinite;
}
.g-ball:nth-child(63) {
  width: 49px;
  height: 49px;
  left: -43px;
  animation: movetop 1s linear -2.567s infinite;
}
.g-ball:nth-child(64) {
  width: 1px;
  height: 1px;
  left: -11px;
  animation: movetop 1s linear -1.179s infinite;
}
.g-ball:nth-child(65) {
  width: 14px;
  height: 14px;
  left: -26px;
  animation: movetop 1s linear -2.355s infinite;
}
.g-ball:nth-child(66) {
  width: 43px;
  height: 43px;
  left: -7px;
  animation: movetop 1s linear -2.651s infinite;
}
.g-ball:nth-child(67) {
  width: 0px;
  height: 0px;
  left: -10px;
  animation: movetop 1s linear -0.977s infinite;
}
.g-ball:nth-child(68) {
  width: 11px;
  height: 11px;
  left: -18px;
  animation: movetop 1s linear -0.169s infinite;
}
.g-ball:nth-child(69) {
  width: 4px;
  height: 4px;
  left: -5px;
  animation: movetop 1s linear -1.179s infinite;
}
.g-ball:nth-child(70) {
  width: 8px;
  height: 8px;
  left: 4px;
  animation: movetop 1s linear -2.278s infinite;
}
.g-ball:nth-child(71) {
  width: 29px;
  height: 29px;
  left: -16px;
  animation: movetop 1s linear -2.755s infinite;
}
.g-ball:nth-child(72) {
  width: 9px;
  height: 9px;
  left: -19px;
  animation: movetop 1s linear -0.312s infinite;
}
.g-ball:nth-child(73) {
  width: 28px;
  height: 28px;
  left: -28px;
  animation: movetop 1s linear -1.201s infinite;
}
.g-ball:nth-child(74) {
  width: 21px;
  height: 21px;
  left: -48px;
  animation: movetop 1s linear -0.725s infinite;
}
.g-ball:nth-child(75) {
  width: 9px;
  height: 9px;
  left: -24px;
  animation: movetop 1s linear -1.52s infinite;
}
.g-ball:nth-child(76) {
  width: 3px;
  height: 3px;
  left: -18px;
  animation: movetop 1s linear -1.7s infinite;
}
.g-ball:nth-child(77) {
  width: 19px;
  height: 19px;
  left: 10px;
  animation: movetop 1s linear -2.27s infinite;
}
.g-ball:nth-child(78) {
  width: 40px;
  height: 40px;
  left: -34px;
  animation: movetop 1s linear -0.599s infinite;
}
.g-ball:nth-child(79) {
  width: 49px;
  height: 49px;
  left: -3px;
  animation: movetop 1s linear -1.93s infinite;
}
.g-ball:nth-child(80) {
  width: 50px;
  height: 50px;
  left: 5px;
  animation: movetop 1s linear -0.622s infinite;
}
.g-ball:nth-child(81) {
  width: 40px;
  height: 40px;
  left: 5px;
  animation: movetop 1s linear -1.282s infinite;
}
.g-ball:nth-child(82) {
  width: 24px;
  height: 24px;
  left: 9px;
  animation: movetop 1s linear -0.285s infinite;
}
.g-ball:nth-child(83) {
  width: 12px;
  height: 12px;
  left: 8px;
  animation: movetop 1s linear -2.561s infinite;
}
.g-ball:nth-child(84) {
  width: 33px;
  height: 33px;
  left: 17px;
  animation: movetop 1s linear -0.432s infinite;
}
.g-ball:nth-child(85) {
  width: 8px;
  height: 8px;
  left: -41px;
  animation: movetop 1s linear -1.239s infinite;
}
.g-ball:nth-child(86) {
  width: 25px;
  height: 25px;
  left: 13px;
  animation: movetop 1s linear -2.04s infinite;
}
.g-ball:nth-child(87) {
  width: 32px;
  height: 32px;
  left: -18px;
  animation: movetop 1s linear -1.195s infinite;
}
.g-ball:nth-child(88) {
  width: 48px;
  height: 48px;
  left: 11px;
  animation: movetop 1s linear -0.819s infinite;
}
.g-ball:nth-child(89) {
  width: 7px;
  height: 7px;
  left: -43px;
  animation: movetop 1s linear -1.915s infinite;
}
.g-ball:nth-child(90) {
  width: 15px;
  height: 15px;
  left: 17px;
  animation: movetop 1s linear -0.822s infinite;
}
.g-ball:nth-child(91) {
  width: 27px;
  height: 27px;
  left: -34px;
  animation: movetop 1s linear -2.277s infinite;
}
.g-ball:nth-child(92) {
  width: 48px;
  height: 48px;
  left: -32px;
  animation: movetop 1s linear -0.555s infinite;
}
.g-ball:nth-child(93) {
  width: 3px;
  height: 3px;
  left: 8px;
  animation: movetop 1s linear -1.864s infinite;
}
.g-ball:nth-child(94) {
  width: 3px;
  height: 3px;
  left: -31px;
  animation: movetop 1s linear -1.005s infinite;
}
.g-ball:nth-child(95) {
  width: 16px;
  height: 16px;
  left: -30px;
  animation: movetop 1s linear -1.713s infinite;
}
.g-ball:nth-child(96) {
  width: 15px;
  height: 15px;
  left: -26px;
  animation: movetop 1s linear -0.004s infinite;
}
.g-ball:nth-child(97) {
  width: 0px;
  height: 0px;
  left: -43px;
  animation: movetop 1s linear -2.837s infinite;
}
.g-ball:nth-child(98) {
  width: 20px;
  height: 20px;
  left: -20px;
  animation: movetop 1s linear -1.393s infinite;
}
.g-ball:nth-child(99) {
  width: 44px;
  height: 44px;
  left: -17px;
  animation: movetop 1s linear -1.236s infinite;
}
.g-ball:nth-child(100) {
  width: 42px;
  height: 42px;
  left: -5px;
  animation: movetop 1s linear -2.026s infinite;
}
.g-ball:nth-child(101) {
  width: 27px;
  height: 27px;
  left: -35px;
  animation: movetop 1s linear -2.113s infinite;
}
.g-ball:nth-child(102) {
  width: 22px;
  height: 22px;
  left: 6px;
  animation: movetop 1s linear -2.189s infinite;
}
.g-ball:nth-child(103) {
  width: 19px;
  height: 19px;
  left: -37px;
  animation: movetop 1s linear -2.285s infinite;
}
.g-ball:nth-child(104) {
  width: 40px;
  height: 40px;
  left: 7px;
  animation: movetop 1s linear -0.671s infinite;
}
.g-ball:nth-child(105) {
  width: 4px;
  height: 4px;
  left: -38px;
  animation: movetop 1s linear -1.748s infinite;
}
.g-ball:nth-child(106) {
  width: 48px;
  height: 48px;
  left: -2px;
  animation: movetop 1s linear -1.116s infinite;
}
.g-ball:nth-child(107) {
  width: 15px;
  height: 15px;
  left: -18px;
  animation: movetop 1s linear -2.826s infinite;
}
.g-ball:nth-child(108) {
  width: 18px;
  height: 18px;
  left: -38px;
  animation: movetop 1s linear -0.666s infinite;
}
.g-ball:nth-child(109) {
  width: 34px;
  height: 34px;
  left: -31px;
  animation: movetop 1s linear -0.877s infinite;
}
.g-ball:nth-child(110) {
  width: 46px;
  height: 46px;
  left: 19px;
  animation: movetop 1s linear -1.819s infinite;
}
.g-ball:nth-child(111) {
  width: 4px;
  height: 4px;
  left: 10px;
  animation: movetop 1s linear -0.846s infinite;
}
.g-ball:nth-child(112) {
  width: 39px;
  height: 39px;
  left: -24px;
  animation: movetop 1s linear -2.003s infinite;
}
.g-ball:nth-child(113) {
  width: 24px;
  height: 24px;
  left: 13px;
  animation: movetop 1s linear -2.507s infinite;
}
.g-ball:nth-child(114) {
  width: 17px;
  height: 17px;
  left: -32px;
  animation: movetop 1s linear -1.327s infinite;
}
.g-ball:nth-child(115) {
  width: 20px;
  height: 20px;
  left: -48px;
  animation: movetop 1s linear -0.558s infinite;
}
.g-ball:nth-child(116) {
  width: 18px;
  height: 18px;
  left: -30px;
  animation: movetop 1s linear -1.313s infinite;
}
.g-ball:nth-child(117) {
  width: 41px;
  height: 41px;
  left: -25px;
  animation: movetop 1s linear -0.866s infinite;
}
.g-ball:nth-child(118) {
  width: 27px;
  height: 27px;
  left: 10px;
  animation: movetop 1s linear -0.289s infinite;
}
.g-ball:nth-child(119) {
  width: 6px;
  height: 6px;
  left: -15px;
  animation: movetop 1s linear -0.979s infinite;
}
.g-ball:nth-child(120) {
  width: 33px;
  height: 33px;
  left: -37px;
  animation: movetop 1s linear -1.434s infinite;
}
.g-ball:nth-child(121) {
  width: 40px;
  height: 40px;
  left: 8px;
  animation: movetop 1s linear -0.454s infinite;
}
.g-ball:nth-child(122) {
  width: 1px;
  height: 1px;
  left: 10px;
  animation: movetop 1s linear -2.984s infinite;
}
.g-ball:nth-child(123) {
  width: 50px;
  height: 50px;
  left: -12px;
  animation: movetop 1s linear -0.115s infinite;
}
.g-ball:nth-child(124) {
  width: 10px;
  height: 10px;
  left: -35px;
  animation: movetop 1s linear -2.203s infinite;
}
.g-ball:nth-child(125) {
  width: 42px;
  height: 42px;
  left: -23px;
  animation: movetop 1s linear -2.293s infinite;
}
.g-ball:nth-child(126) {
  width: 44px;
  height: 44px;
  left: -19px;
  animation: movetop 1s linear -2.423s infinite;
}
.g-ball:nth-child(127) {
  width: 34px;
  height: 34px;
  left: -20px;
  animation: movetop 1s linear -1.653s infinite;
}
.g-ball:nth-child(128) {
  width: 21px;
  height: 21px;
  left: 17px;
  animation: movetop 1s linear -2.92s infinite;
}
.g-ball:nth-child(129) {
  width: 8px;
  height: 8px;
  left: -3px;
  animation: movetop 1s linear -1.207s infinite;
}
.g-ball:nth-child(130) {
  width: 6px;
  height: 6px;
  left: -24px;
  animation: movetop 1s linear -2.544s infinite;
}
.g-ball:nth-child(131) {
  width: 17px;
  height: 17px;
  left: 14px;
  animation: movetop 1s linear -2.515s infinite;
}
.g-ball:nth-child(132) {
  width: 5px;
  height: 5px;
  left: -12px;
  animation: movetop 1s linear -2.998s infinite;
}
.g-ball:nth-child(133) {
  width: 44px;
  height: 44px;
  left: -49px;
  animation: movetop 1s linear -2.082s infinite;
}
.g-ball:nth-child(134) {
  width: 1px;
  height: 1px;
  left: -22px;
  animation: movetop 1s linear -2.605s infinite;
}
.g-ball:nth-child(135) {
  width: 1px;
  height: 1px;
  left: -32px;
  animation: movetop 1s linear -1.544s infinite;
}
.g-ball:nth-child(136) {
  width: 27px;
  height: 27px;
  left: -50px;
  animation: movetop 1s linear -0.694s infinite;
}
.g-ball:nth-child(137) {
  width: 46px;
  height: 46px;
  left: -11px;
  animation: movetop 1s linear -2.179s infinite;
}
.g-ball:nth-child(138) {
  width: 41px;
  height: 41px;
  left: -6px;
  animation: movetop 1s linear -2.246s infinite;
}
.g-ball:nth-child(139) {
  width: 19px;
  height: 19px;
  left: -45px;
  animation: movetop 1s linear -1.593s infinite;
}
.g-ball:nth-child(140) {
  width: 33px;
  height: 33px;
  left: -15px;
  animation: movetop 1s linear -1.622s infinite;
}
.g-ball:nth-child(141) {
  width: 9px;
  height: 9px;
  left: 16px;
  animation: movetop 1s linear -0.637s infinite;
}
.g-ball:nth-child(142) {
  width: 31px;
  height: 31px;
  left: -9px;
  animation: movetop 1s linear -0.42s infinite;
}
.g-ball:nth-child(143) {
  width: 5px;
  height: 5px;
  left: -7px;
  animation: movetop 1s linear -2.062s infinite;
}
.g-ball:nth-child(144) {
  width: 40px;
  height: 40px;
  left: -43px;
  animation: movetop 1s linear -1.455s infinite;
}
.g-ball:nth-child(145) {
  width: 31px;
  height: 31px;
  left: 16px;
  animation: movetop 1s linear -1.442s infinite;
}
.g-ball:nth-child(146) {
  width: 14px;
  height: 14px;
  left: -14px;
  animation: movetop 1s linear -1.355s infinite;
}
.g-ball:nth-child(147) {
  width: 34px;
  height: 34px;
  left: -38px;
  animation: movetop 1s linear -2.736s infinite;
}
.g-ball:nth-child(148) {
  width: 25px;
  height: 25px;
  left: 8px;
  animation: movetop 1s linear -2.571s infinite;
}
.g-ball:nth-child(149) {
  width: 5px;
  height: 5px;
  left: -34px;
  animation: movetop 1s linear -2.18s infinite;
}
.g-ball:nth-child(150) {
  width: 11px;
  height: 11px;
  left: 5px;
  animation: movetop 1s linear -2.495s infinite;
}
.g-ball:nth-child(151) {
  width: 48px;
  height: 48px;
  left: -36px;
  animation: movetop 1s linear -2.121s infinite;
}
.g-ball:nth-child(152) {
  width: 1px;
  height: 1px;
  left: -34px;
  animation: movetop 1s linear -2.777s infinite;
}
.g-ball:nth-child(153) {
  width: 49px;
  height: 49px;
  left: -27px;
  animation: movetop 1s linear -2.564s infinite;
}
.g-ball:nth-child(154) {
  width: 0px;
  height: 0px;
  left: 8px;
  animation: movetop 1s linear -2.3s infinite;
}
.g-ball:nth-child(155) {
  width: 0px;
  height: 0px;
  left: -1px;
  animation: movetop 1s linear -1.763s infinite;
}
.g-ball:nth-child(156) {
  width: 1px;
  height: 1px;
  left: 3px;
  animation: movetop 1s linear -0.584s infinite;
}
.g-ball:nth-child(157) {
  width: 19px;
  height: 19px;
  left: -48px;
  animation: movetop 1s linear -0.68s infinite;
}
.g-ball:nth-child(158) {
  width: 37px;
  height: 37px;
  left: -4px;
  animation: movetop 1s linear -2.889s infinite;
}
.g-ball:nth-child(159) {
  width: 1px;
  height: 1px;
  left: 0px;
  animation: movetop 1s linear -0.916s infinite;
}
.g-ball:nth-child(160) {
  width: 20px;
  height: 20px;
  left: -42px;
  animation: movetop 1s linear -1.681s infinite;
}
.g-ball:nth-child(161) {
  width: 1px;
  height: 1px;
  left: 14px;
  animation: movetop 1s linear -0.716s infinite;
}
.g-ball:nth-child(162) {
  width: 11px;
  height: 11px;
  left: -19px;
  animation: movetop 1s linear -1.205s infinite;
}
.g-ball:nth-child(163) {
  width: 25px;
  height: 25px;
  left: -48px;
  animation: movetop 1s linear -1.782s infinite;
}
.g-ball:nth-child(164) {
  width: 34px;
  height: 34px;
  left: -11px;
  animation: movetop 1s linear -1.381s infinite;
}
.g-ball:nth-child(165) {
  width: 27px;
  height: 27px;
  left: -36px;
  animation: movetop 1s linear -2.353s infinite;
}
.g-ball:nth-child(166) {
  width: 20px;
  height: 20px;
  left: -6px;
  animation: movetop 1s linear -2.323s infinite;
}
.g-ball:nth-child(167) {
  width: 15px;
  height: 15px;
  left: -34px;
  animation: movetop 1s linear -0.467s infinite;
}
.g-ball:nth-child(168) {
  width: 0px;
  height: 0px;
  left: -1px;
  animation: movetop 1s linear -1.595s infinite;
}
.g-ball:nth-child(169) {
  width: 40px;
  height: 40px;
  left: -11px;
  animation: movetop 1s linear -0.173s infinite;
}
.g-ball:nth-child(170) {
  width: 9px;
  height: 9px;
  left: -38px;
  animation: movetop 1s linear -1.573s infinite;
}
.g-ball:nth-child(171) {
  width: 15px;
  height: 15px;
  left: -1px;
  animation: movetop 1s linear -0.064s infinite;
}
.g-ball:nth-child(172) {
  width: 44px;
  height: 44px;
  left: 8px;
  animation: movetop 1s linear -1.718s infinite;
}
.g-ball:nth-child(173) {
  width: 47px;
  height: 47px;
  left: 10px;
  animation: movetop 1s linear -2.052s infinite;
}
.g-ball:nth-child(174) {
  width: 46px;
  height: 46px;
  left: 5px;
  animation: movetop 1s linear -0.586s infinite;
}
.g-ball:nth-child(175) {
  width: 19px;
  height: 19px;
  left: -48px;
  animation: movetop 1s linear -0.564s infinite;
}
.g-ball:nth-child(176) {
  width: 5px;
  height: 5px;
  left: -24px;
  animation: movetop 1s linear -0.851s infinite;
}
.g-ball:nth-child(177) {
  width: 36px;
  height: 36px;
  left: -33px;
  animation: movetop 1s linear -2.515s infinite;
}
.g-ball:nth-child(178) {
  width: 26px;
  height: 26px;
  left: -44px;
  animation: movetop 1s linear -0.527s infinite;
}
.g-ball:nth-child(179) {
  width: 33px;
  height: 33px;
  left: -5px;
  animation: movetop 1s linear -1.101s infinite;
}
.g-ball:nth-child(180) {
  width: 44px;
  height: 44px;
  left: -30px;
  animation: movetop 1s linear -1.639s infinite;
}
.g-ball:nth-child(181) {
  width: 14px;
  height: 14px;
  left: -15px;
  animation: movetop 1s linear -1.105s infinite;
}
.g-ball:nth-child(182) {
  width: 31px;
  height: 31px;
  left: 3px;
  animation: movetop 1s linear -0.412s infinite;
}
.g-ball:nth-child(183) {
  width: 19px;
  height: 19px;
  left: -14px;
  animation: movetop 1s linear -0.312s infinite;
}
.g-ball:nth-child(184) {
  width: 50px;
  height: 50px;
  left: -13px;
  animation: movetop 1s linear -0.948s infinite;
}
.g-ball:nth-child(185) {
  width: 29px;
  height: 29px;
  left: 8px;
  animation: movetop 1s linear -1.467s infinite;
}
.g-ball:nth-child(186) {
  width: 36px;
  height: 36px;
  left: -48px;
  animation: movetop 1s linear -2.273s infinite;
}
.g-ball:nth-child(187) {
  width: 32px;
  height: 32px;
  left: -32px;
  animation: movetop 1s linear -1.382s infinite;
}
.g-ball:nth-child(188) {
  width: 43px;
  height: 43px;
  left: -7px;
  animation: movetop 1s linear -1.049s infinite;
}
.g-ball:nth-child(189) {
  width: 21px;
  height: 21px;
  left: -6px;
  animation: movetop 1s linear -1.399s infinite;
}
.g-ball:nth-child(190) {
  width: 1px;
  height: 1px;
  left: -6px;
  animation: movetop 1s linear -2.538s infinite;
}
.g-ball:nth-child(191) {
  width: 23px;
  height: 23px;
  left: 9px;
  animation: movetop 1s linear -0.273s infinite;
}
.g-ball:nth-child(192) {
  width: 37px;
  height: 37px;
  left: -36px;
  animation: movetop 1s linear -1.498s infinite;
}
.g-ball:nth-child(193) {
  width: 25px;
  height: 25px;
  left: -24px;
  animation: movetop 1s linear -2.415s infinite;
}
.g-ball:nth-child(194) {
  width: 19px;
  height: 19px;
  left: -30px;
  animation: movetop 1s linear -0.66s infinite;
}
.g-ball:nth-child(195) {
  width: 48px;
  height: 48px;
  left: 10px;
  animation: movetop 1s linear -2.659s infinite;
}
.g-ball:nth-child(196) {
  width: 12px;
  height: 12px;
  left: 10px;
  animation: movetop 1s linear -2.746s infinite;
}
.g-ball:nth-child(197) {
  width: 18px;
  height: 18px;
  left: -1px;
  animation: movetop 1s linear -2.188s infinite;
}
.g-ball:nth-child(198) {
  width: 28px;
  height: 28px;
  left: -7px;
  animation: movetop 1s linear -0.311s infinite;
}
.g-ball:nth-child(199) {
  width: 45px;
  height: 45px;
  left: -2px;
  animation: movetop 1s linear -1.551s infinite;
}
.g-ball:nth-child(200) {
  width: 50px;
  height: 50px;
  left: -46px;
  animation: movetop 1s linear -2.51s infinite;
}
@-moz-keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170px);
    opacity: 0;
  }
}
@-webkit-keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170px);
    opacity: 0;
  }
}
@-o-keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170px);
    opacity: 0;
  }
}
@keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170px);
    opacity: 0;
  }
}
