body {
  foo: 1;
  foo: 2;
  foo: 3;
  foo: 4;
  foo: 5;
  foo: 6;
  foo: 7;
  foo: 8;
  foo: 9;
  foo: 10;
  foo: 11;
  foo: 12;
  foo: 13;
  foo: 14;
  foo: 15;
  foo: 16;
  foo: 17;
  foo: 18;
  foo: 19;
  foo: 20;
  foo: 21;
  foo: 22;
  foo: 23;
  foo: 24;
  foo: 25;
  foo: 26;
  foo: 27;
  foo: 28;
  foo: 29;
  foo: 30;
  foo: 31;
  foo: 32;
  foo: 33;
  foo: 34;
  foo: 35;
  foo: 36;
  foo: 37;
  foo: 38;
  foo: 39;
  foo: 40;
  foo: 41;
  foo: 42;
  foo: 43;
  foo: 44;
  foo: 45;
  foo: 46;
  foo: 47;
  foo: 48;
  foo: 49;
  foo: 50;
  foo: 51;
  foo: 52;
  foo: 53;
  foo: 54;
  foo: 55;
  foo: 56;
  foo: 57;
  foo: 58;
  foo: 59;
  foo: 60;
  foo: 61;
  foo: 62;
  foo: 63;
  foo: 64;
  foo: 65;
  foo: 66;
  foo: 67;
  foo: 68;
  foo: 69;
  foo: 70;
  foo: 71;
  foo: 72;
  foo: 73;
  foo: 74;
  foo: 75;
  foo: 76;
  foo: 77;
  foo: 78;
  foo: 79;
  foo: 80;
  foo: 81;
  foo: 82;
  foo: 83;
  foo: 84;
  foo: 85;
  foo: 86;
  foo: 87;
  foo: 88;
  foo: 89;
  foo: 90;
  foo: 91;
  foo: 92;
  foo: 93;
  foo: 94;
  foo: 95;
  foo: 96;
  foo: 97;
  foo: 98;
  foo: 99;
  foo: 100;
  foo: 101;
  foo: 102;
  foo: 103;
  foo: 104;
  foo: 105;
  foo: 106;
  foo: 107;
  foo: 108;
  foo: 109;
  foo: 110;
  foo: 111;
  foo: 112;
  foo: 113;
  foo: 114;
  foo: 115;
  foo: 116;
  foo: 117;
  foo: 118;
  foo: 119;
  foo: 120;
  foo: 121;
  foo: 122;
  foo: 123;
  foo: 124;
  foo: 125;
  foo: 126;
  foo: 127;
  foo: 128;
  foo: 129;
  foo: 130;
  foo: 131;
  foo: 132;
  foo: 133;
  foo: 134;
  foo: 135;
  foo: 136;
  foo: 137;
  foo: 138;
  foo: 139;
  foo: 140;
  foo: 141;
  foo: 142;
  foo: 143;
  foo: 144;
  foo: 145;
  foo: 146;
  foo: 147;
  foo: 148;
  foo: 149;
  foo: 150;
  foo: 151;
  foo: 152;
  foo: 153;
  foo: 154;
  foo: 155;
  foo: 156;
  foo: 157;
  foo: 158;
  foo: 159;
  foo: 160;
  foo: 161;
  foo: 162;
  foo: 163;
  foo: 164;
  foo: 165;
  foo: 166;
  foo: 167;
  foo: 168;
  foo: 169;
  foo: 170;
  foo: 171;
  foo: 172;
  foo: 173;
  foo: 174;
  foo: 175;
  foo: 176;
  foo: 177;
  foo: 178;
  foo: 179;
  foo: 180;
  foo: 181;
  foo: 182;
  foo: 183;
  foo: 184;
  foo: 185;
  foo: 186;
  foo: 187;
  foo: 188;
  foo: 189;
  foo: 190;
  foo: 191;
  foo: 192;
  foo: 193;
  foo: 194;
  foo: 195;
  foo: 196;
  foo: 197;
  foo: 198;
  foo: 199;
  foo: 200;
}
