@import 'fn'    

*
    margin 0
    padding 0

html
    -ms-text-size-adjust 100%   //禁止调整文字大小
    -webkit-text-size-adjust 100%

body
    line-height 1.6 //为字体大小1.6
    font-family $weuiFontDefault

a img
    border 0

a
    text-decoration none
    setTapColor()