html,body{
    padding: 0;
    margin: 0;
}
html{
    color: #111111;
    background-color: #fff;
}
body{
    padding-top: 30px;
}
body,td,th{
    font: 12px Helvetica,Arial;
    line-height: 1.62;
}
#anony-nav{
    width: 950px;
    margin: 0 auto 25px;
}
#anony-nav .anony-nav-links{
    float: right;
    margin-top: 6px;
}
#anony-nav h1{
    display:inline-block ;
    zoom: 1;
    vertical-align: middle;
    width: 160px;
    height: 34px;
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    background: url(https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png) no-repeat 0 0;
    background-image: url(https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png) ;
    overflow: hidden;
}
h1{
    word-wrap: break-word;
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #494949;
    margin: 0;
    padding: 0 0 15px 0;
    line-height: 1.1;
}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
}
h1{
    margin-block-start: 0.66em;
    margin-block-end: 0.66em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#anony-nav .anony-srh{
    position: relative;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    width: 270px;
    height: 30px;
    border: 1px solid #c3c3c3;
}

ul,ol{
    list-style: none;
}
ul,menu,dir{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
#anony-nav .anony-nav-links li{
    display: inline-block;
    zoom: 1;
    margin: 0 0 0 17px;
}
li{
    display: list-item;
    text-align: -webkit-match-parent ;
}
#anony-nav .anony-nav-links li .lnk-book{
    background-position: 0 0;
}
#anony-nav .anony-nav-links li a{
    display: inline-block;
    zoom: 1;
    width: 40px;
    height: 20px;
    overflow: hidden;
    margin: 0;
    line-height: 20em;
    outline: none;
    vertical-align: middle;
    background: transparent url(https://img3.doubanio.com/f/sns/8af21e61874a79a3728f00b0c45d36a794f53059/pics/sns/anony_home/anony_nav_logo.png) no-repeat 100% 100%;
    background-image: url(https://img3.doubanio.com//f/sns/8af21e61874a79a3728f00b0c45d36a794f53059/pics/sns/anony_home/anony_nav_logo.png);
}
a:visited{
    color: #666699;
    text-decoration: none;
}
a:link{
    color: #3377aa;
    text-decoration: none;
}
a{
    cursor: pointer;
}
#anony-nav h1 a{
    display: block;
    height: 34px;
    line-height: 10em;
}
form{
    margin: 0;
    padding: 0;
    border: 0px;
}
#anony-nav .anony-srh .inp{
    display: block;
    height: 30px;
    overflow: hidden;
}
#anony-nav .anony-srh .inp input{
    width: 240px;
    border: none;
    font-size: 13px;
    height: 20px;
    padding: 5px;
}
input{
    margin-right: 3px;
    vertical-align: middle;
}
#anony-nav .anony-srh .bn{
    position: absolute;
    right: 0;
    top: 0;width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    background: url(https://img3.doubanio.com/f/sns/f71f15922ebd7c0ff0ea0e7a25577529efd8981a/pics/icon/bn_srh_1.png) 50% 50% no-repeat;
}
#anony-nav .anony-srh .bn input{
    border: none  ;
    background: transparent;
    overflow: hidden;
    width: 30px;
    height: 30px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}