html,
body {
  width: 100%;
}
html .nav,
body .nav {
  height: 1.067rem;
  font-size: 18px;
  text-align: center;
  background-color: #e54847;
  padding: 6px;
  box-sizing: border-box;
}
html .nav .arrow-left,
body .nav .arrow-left {
  float: left;
  height: 100%;
  position: relative;
}
html .nav .arrow-left:after,
body .nav .arrow-left:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 16px;
  border: 2px solid #fff;
  border-width: 0 0 2px 2px;
  box-sizing: border-box;
  transform: rotate(45deg) translateY(-50%);
}
html .nav span,
body .nav span {
  color: #fff;
  display: inline-block;
}
